html {
  scroll-behavior: smooth;
}

body{
	text-align:center;
	background-image: url(../images/body.jpg);
	background-repeat:no repeat;
	background-size:cover;
	margin:0;
}

a{
	margin:20px;
	text-decoration:none;
}

p{
	text-align:justify;
	margin:15px;
}

h3{
	font-size:50px;
}

h1{
	font-size:80px;
}
h4{
	font-family: 'Special Elite', cursive;
}
.showcase{
	background-image: url(../images/header.jpg);
	background-repeat:no repeat;
	background-size:cover;
	text-align:justify;
}

#tagline{
	font-family: 'Lobster', cursive;
}

.main-article{
	margin:10px;
}

#wreath{
	text-align:center;
	background:pink;
	border:5px pink solid;
}

#ckcians{
	background:lavender;
	text-align:center;
}
#ckcians img{
	margin-top:60px;
}

#black{
	background-image: url(../images/black.jpg);
	background-repeat:no repeat;
	background-size:cover;
	text-align:center;
}

#black h5{
	font-family: 'Special Elite', cursive;
}

#lu{
	background-image: url(../images/back.jpg);
	background-repeat:no repeat;
	background-size:cover;
	text-align:center;
}

#duterte{
	background:#9fd3f4;
}
.footer{
	color:white;
	background:black;
}
